
* {
    background-color: rgb(103, 97, 94);
}

body {
    background-color: rgb(103, 97, 94);
}

.ticCol {
    border: solid 5px gray;
}

.makeMark {
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 200px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.makeO {
    color: #409CF3;
}

.makeX {
    color: #FB6A6A;
}

.topText {
    color: #fff;
    font-size: 56px; 
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.reset {
    border-radius: 80px;
    border: 3px solid #76726F;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    height: 90px;
    color: #FFF;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}